html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #282828;
  color: #aaa;
  font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

.transparent-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

a,
a:visited {
  color: hsl(175, 60%, 45%); /* #2eb9aa */
  text-decoration: none;
}

a:hover,
a.active-link:hover {
  color: #fff;
}

a.active-link {
  font-weight: 600;
}

.root-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  pointer-events: none;
  z-index: 10000;
  height: 100vh;
  position: absolute;
  background-color: none;
  transition: background-color 1s;
}

.sidebar__clickhole {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
}

.sidebar__nav {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;

  padding-left: 45px;

  opacity: 0;
  transition: opacity 1s;
}

.sidebar__nav ul {
  list-style: none;
}

.sidebar__nav li {
  margin-bottom: 15px;
}

.sidebar__nav a {
  will-change: transform;
  transition: padding 0.5s;
  padding-left: 3px;
}

.sidebar__nav a.active-link {
  border-left: 3px solid hsl(175, 60%, 45%);
  padding-left: 10px;
}

.sidebar__logo {
  pointer-events: all;
}

.sidebar__logo svg {
  fill: hsl(175, 60%, 45%);
  width: 80px;
  margin: 20px;
  height: auto;

  transition: width 2s, height 2s, margin 2s;
}

.sidebar__logo:hover svg {
  fill: white;
  cursor: pointer;
}

.sidebar--expanded {
  pointer-events: all;
  background-color: hsla(175, 70%, 15%, 0.9);
}

.sidebar--expanded .sidebar__logo svg {
  width: 120px;
  margin: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar--expanded .sidebar__nav {
  opacity: 1;
}

.data-visualization {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 120px;
}

.data-pickers-container {
  z-index: 100;
  position: absolute;
  top: 45px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.data-picker {
  display: flex;
  width: max-content;
  padding: 0 15px;
}

.data-picker__option {
  color: hsl(175, 60%, 45%);
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.data-picker__option:hover {
  color: white;
}

.data-picker__option--active {
  font-weight: bold;
  border-bottom: 3px solid hsl(175, 60%, 45%);
}

.data-visualization__legend {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 10px;
  left: calc(50% - 150px);
}

.data-visualization .loader-ring {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.loader-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader-ring 1.2s linear infinite;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  font-size: 80%;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
